@{
    ViewData["Title"] = "About";
}
@using logreg.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model logreg.Models.User

<form asp-controller="User" asp-action="register" method="POST">
    <h4>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>
    </h4>
    <h4>
        <label asp-for="LastName"></label>
        <input asp-for="LastName">
        <span asp-validation-for="LastName"></span>
    </h4>
    <h4>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>
    </h4>
    <h4>
        <label asp-for="Password"></label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>
    </h4>
    <h4>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm">
        <span asp-validation-for="Confirm"></span>
    </h4>
    <input type="submit" value="Register">
</form>